.types {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 16px 4px;

  .on {
    background-color: #ffd5a0;
    box-shadow: 0 0 3px 0 rgba(255, 142, 0, 1);
    color: #f7700f;
  }

  a {
    margin-right: 12px;
    margin-bottom: 12px;
    padding: 0 12px;
    line-height: 30px;
    background-color: #ececec;
    font-size: 14px;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);

    &:last-child {
      margin-right: 0;
    }
  }
}