.bookItem {
  display: flex;
  margin-bottom: 8px;
  padding: 16px;
  background-color: #fff;
  font-size: 14px;

  &:last-child {
    margin-bottom: 0;
  }

  &:nth-child(-n+3) .thumb::after {
    content: 'Top1';
    position: absolute;
    right: 0;
    top: 0;
    background: #f33;
    width: 70px;
    height: 18px;
    transform: rotate(45deg) scale(0.8) translate(24px, -19px);
    line-height: 18px;
    color: #fff;
    text-align: center;
  }

  &:nth-child(2) .thumb::after {
    content: 'Top2';
    background: #f60;
  }

  &:nth-child(3) .thumb::after {
    content: 'Top3';
    background: #faa90e;
  }

  .thumb {
    width: 24%;
    overflow: hidden;
    position: relative;

    a {
      // width: 100%;
      display: block;
    }

    img {
      width: 100%;
      display: block;
      border-radius: 5px;
    }
  }

  .info {
    width: 76%;
    padding-left: 15px;

    .description {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .infoTop {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 5px 0;

    .title, .author {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .title {
      color: #f7700f;
      font-size: 16px;
      max-width: 70%;
      padding-right: 20px;
    }

    .author {
      text-shadow: 0 0 1px #afafaf;
      max-width: 30%;
      font-weight: bold;
    }
  }
}

.bookItem.isRecommend {
  &:nth-child(1) .thumb::after {
    content: '推荐';
    background: #f33;
    height: 18px;
    line-height: 20px;
    transform: rotate(45deg) scale(0.8) translate(23px, -19px);
  }
}