.bookItemSimple {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  line-height: 44px;
  font-size: 14px;
  background-color: #fff;
  margin-bottom: 1px; /*no*/

  a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title {
    max-width: 70%;
    padding-right: 30px;
    color: #4e6ef2;

    strong {
      font-weight: normal;
    }
  }

  .author {
    max-width: 30%;
  }

  .half {
    max-width: 50%;
  }
}