.bookItemSimple {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  line-height: 44px;
  font-size: 14px;
  background-color: #fff;
  margin-bottom: 1px; /*no*/
  position: relative;

  a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title {
    max-width: 70%;
    padding-right: 30px;
    color: #1ca9bb;

    &:link {
      color: #4e6ef2;
    }

    strong {
      font-weight: normal;
    }
  }

  .author {
    max-width: 30%;
  }

  .half {
    max-width: 60%;
  }

  .title.half {
    max-width: 40%;
  }

  .new {
    color: #f7700f;
    padding-right: 16px;

    &:after {
      content: '';
      position: absolute;
      top: 12px;
      right: 10px;
      width: 18px;
      height: 18px;
      background: url(../../styles/images/new.png) no-repeat;
      background-size: 100%;
    }
  }
}