.book, .novel {
  background-color: #fff;
  padding: 16px 16px 12px;
  margin-bottom: 8px;
}

.detail, .content {
  display: flex;
  font-size: 14px;

  .thumb {
    width: 30%;
    position: relative;

    img {
      width: 100%;
      display: block;
      border-radius: 5px;
      box-shadow: 0 0 4px 2px rgb(0 0 0 / 30%);
    }
  }

  .info {
    width: 70%;
    padding-left: 20px;
    padding-top: 6px;

    a {
      color: #4e6ef2;
    }

    .lastMenu {
      color: #f7700f;
      // font-size: 16px;
    }

    li {
      margin-top: 2px;
    }

    h2, strong {
      font-size: 14px;
      font-weight: normal;
    }
  }

  .author {
    text-shadow: 0 0 1px #afafaf;
  }
}

.content {
  .info {
    padding-right: 20px;
    padding-left: 0;
  }
}

.btn {
  margin-top: 18px;
  display: flex;
  // justify-content: space-between;
  // padding: 0 20px;

  a, span {
    padding: 0 15px;
    line-height: 30px;
    color: #fff;
    background-color: #4e6ef2;
    border-radius: 3px;
    margin-right: 16px;
    font-size: 14px;
  }

  .collectBook {
    background-color: #f33;
  }

  .goBottom {
    background-color: #faa90e;
    display: flex;
    align-items: center;

    &:after {
      content: '';
      width: 16px;
      height: 16px;
      display: inline-block;
      background: url(./images/up-white.png) no-repeat;
      background-size: 100%;
      margin-left: 2px;
      transform: rotate(180deg);
      transform-origin: center;
    }
  }
}

.description {
  margin-top: 12px;
  font-size: 16px;
  line-height: 28px;

  h2 {
    display: inline;
    font-weight: normal;
    color: #f7700f;
  }
}

.menusWrapper {
  padding-top: 15px;
}

.menusHeader {
  margin-bottom: 8px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;

  h2 {
    padding-left: 10px;
    border-left: 3px solid #f7700f;
    height: 18px;
    line-height: 18px;
    font-size: 16px;

    select {
      border: none;
      background: transparent;
      font: inherit;
      font-size: 16px;
      color: #4e6ef2;
    }

    option {
      font-size: 16px;
    }
  }

  span {
    color: #4e6ef2;
    font-size: 14px;
    // text-shadow: 0 0 1px #4e6ef2;
  }
}

.menuList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  &.fixBlank {
    li:last-child {
      width: 100%;
      padding: 0 16px;
    }

    &:after {
      content: '';
      height: 40px;
    }
  }

  li {
    width: 50%;
    padding: 0 10px 0 16px;
    background-color: #fff;
    margin-bottom: 1px; /*no*/
    line-height: 40px;
    font-size: 14px;

    a {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: #1ca9bb;

      &:link {
        color: #333;
      }
    }

    &:nth-child(2n+2) {
      padding: 0 16px 0 10px;
    }

    .mr10 {
      margin-right: 10px;
    }

    strong {
      font-weight: normal;
    }
  }
}

.descList {
  li {
    width: 100%;
    padding: 0 16px;

    &:nth-child(2n+2) {
      padding: 0 16px;
    }
  }
}

.fixBlank {
  li:last-child {
    width: 100%;
    padding: 0 16px;
  }
}

@keyframes loading
{
	from {
    transform: rotate(0);
  }
	to {
    transform: rotate(360deg);
  }
}

.pageChange {
  margin-top: 8px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;

  select {
    border: none;
    padding: 0 10px;
    min-width: 100px;
    text-align: center;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    font-size: 14px;
  }

  span, a {
    padding: 0 15px;
    line-height: 30px;
    background-color: #faa90e;
    color: #fff;
    border-radius: 3px;
    font-size: 14px;

    &.disabled {
      background-color: #afafaf;
    }
  }

  a {
    position: relative;
    display: flex;
    align-items: center;

    i {
      width: 18px;
      height: 18px;
      background: no-repeat;
      background-size: 100%;
    }

    &.loading {
      filter: grayscale(100%);
    }
  }

  .prev {
    padding: 0 15px 0 10px;
    i {
      background-image: url(./images/left.png);
      margin-right: 3px;
    }
  }

  .next {
    padding: 0 10px 0 15px;
    i {
      background-image: url(./images/right.png);
      margin-left: 3px;
    }
  }
}

.hotRecommend {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .05);
}

.knowMore {
  margin-top: 20px;

  a {
    font-size: 14px;
    color: #f7700f;
  }
}

.mt30 {
  margin-top: 30px;
}

.shortContent {
  display: -webkit-box;
  overflow: hidden;  
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
}