/*
 * Author：https://github.com/guoshuai93/blog/issues/6
 */

 *,*::before,*::after{
  box-sizing: border-box;/* 修改默认盒模型 */
  -webkit-text-size-adjust: 100%;/* IOS 横屏时默认字体为140%；旋转屏幕时，字体大小不变 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);/* 修正 IOS 和 Android 可点击元素的高亮颜色 */
  -webkit-tap-highlight-color: transparent;/* i.e. Nexus5/Chrome and Kindle Fire HD 7'' */
  -webkit-touch-callout: none;
}

/**
* 尽可能使用系统原生字体，PC上很多字体手机端并没有，保留Arial用于PC端调试;
*/
html, body{
  // @TODO: 确认字体里前几个都啥样，与下面注释掉的字体合并
  font-family: Optima-Regular, Optima, PingFangSC-light, PingFangTC-light, "PingFang SC", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  // font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei UI","Microsoft YaHei",Arial,sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #333;
  background-color: #F8F9FA;
}

.container {
  padding: 0 16px 20px;
}

/* .content {
  padding-bottom: 30px;
} */

// .beauty {
//   .types {
//     a {
//       height: 30px;
//       line-height: 32px;
//     }
//   }
// }

/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li, th, td, pre,
fieldset, legend, button, input, textarea{
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

legend {
  display: none;
}

h1, h2, h3, h4, h5, h6{ font-weight: normal;line-height: 24px;}
h1, h2 { font-size: 16px;}
h3, h4, h5, h6{ font-size: 14px;}

/**
* 重置标签元素
* 1. Remove the gray background on active links in IE 10.
* 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
* 3. 当在iOS上触摸并按住一个元素的时候，Safari会展示一个关于这个链接的callout信息。禁用该属性。
*/
a{
  text-decoration:none;
  background-color:transparent;/* 1 */
  -webkit-text-decoration-skip: objects;/* 2 */
  -webkit-touch-callout:none;/* 3 */
  color: inherit;
}

img{
  -webkit-touch-callout:none;/* 见 <a> */
}

/* 重置列表元素 */
ol, ul{
  list-style: none;
}

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

div{
  border : none;
  box-shadow: none;
}

/* Add the correct display in IE 9-.*/
article, aside, footer, header, nav, section {
display: block;
}

/* 统一等宽字体 */
code, kbd, pre, samp, tt {
  font-family: "Courier New", monospace, Courier;
}

/**
* 1. Remove the bottom border in Chrome 57- and Firefox 39-.
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
border-bottom: none; /* 1 */
text-decoration: underline; /* 2 */
}

/* reset the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder;
}

/* Add the correct background and color in IE 9-.*/
mark {
background-color: #ff0;
color: #000;
}

/* Add the correct font size in all browsers.*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

/**
* Add the correct display in IE 9-.
*/
audio, video {
display: inline-block;
}


/* Hide the overflow in IE. */
svg:not(:root) {
overflow: hidden;
}

/* Add the correct display in IE 9-. */
canvas {
display: inline-block;
}

/* Add the correct display in IE. */
template {
display: none;
}

/* Add the correct display in IE 10-.*/
[hidden] {
display: none;
}

/**
* 1. Add the correct display in IE 9-.
* 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
display: inline-block; /* 1 */
vertical-align: baseline; /* 2 */
}

/* ------------------Form------------------ */
/**
* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
*    controls in Android 4.
* 2. Correct the inability to style clickable types in iOS and Safari.
*/
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
-webkit-appearance: button; /* 2 */
}
/* Remove the inner border and padding in Firefox. */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
border-style: none;
padding: 0;
}

/* Restore the focus styles unset by the previous rule. */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
outline: 1px dotted ButtonText;
}

/**
* 1. Add the correct box sizing in IE 10-.
* 2. Remove the padding in IE 10-.
*/
[type="checkbox"],
[type="radio"] {
box-sizing: border-box; /* 1 */
padding: 0; /* 2 */
}

/* Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
height: auto;
}

/* 取消chrome下默认的文本框聚焦样式 */
input, textarea{
  outline:none;
}

input {
  -webkit-appearance:none;
}

/* 移除 chrome 自动补全时黄色背景 */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

/* 修改占位文字的默认样式 */
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #cccccc;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #cccccc;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #cccccc;
}

/* ######################################## */

.hide {
  display: none;
}

// 为了SEO
.notShow {
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

.chunkShadow {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .05);
}

// top
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  // background: linear-gradient(#ff9800, #efeded);
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  // margin-bottom: 24px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .05);
  position: relative;
  z-index: 5;

  strong {
    font-size: 16px;
  }

  h1 {
    font-weight: bold;
  //   padding: 0 10px;
  //   background-image: linear-gradient(#fff 60%, #faa90e 40%);
  }

  // .setting {
  //   font-size: 14px;
  // }

  &:after {
    content: '';
  }
}

.indexTop {
  // &:before {
  //   content: '';
  // }
}

.searchBtn {
  width: 20px;
  height: 20px;
  display: block;
  background: no-repeat url(./images/search.png);
  background-size: 100%;
  line-height: 100px;
  overflow: hidden;
}

.header {
  padding: 10px 16px;
  background-color: #fff;
  border-bottom: 1px solid #f5f5f5;
}

.commonHeader {
  h1, h2 {
    color: #f7700f;
    font-size: 20px;
    margin-bottom: 10px;
    text-shadow: 0 0 1px #afafaf;
    line-height: 30px;
  }
}

.searchHeader {
  margin: 30px 16px 0;
}

.crumbs {
  font-size: 14px;

  strong, h1 {
    font-weight: normal;
    font-size: 14px;
  }

  a {
    color: #4e6ef2;
  }

  span {
    text-shadow: 0 0 1px #999;
    padding: 0 5px;
  }

  h1 {
    display: inline;
    // color: #f7700f;
    // font-size: 18px;
    // padding-right: 20px;
  }
}

.historyWrapper {
  .crumbs {
    margin-bottom: 8px;
    border-bottom: none;
  }
}

.h2Header {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-shadow: 0 0 1px #afafaf;
    font-size: 14px;
  }
}

.nav {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  padding: 8px 30px;
  background-color: #fff;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .05);

  a {
    font-size: 14px;
    // margin-right: 20px;
    line-height: 24px;
    position: relative;
  }

  .on {
    color: #f7700f;

    &:after {
      content: '';
      position: absolute;
      left: 2px;
      right: 2px;
      top: 100%;
      height: 2px;
      background-color: #f7700f;
      border-radius: 2px;
    }
  }
}

footer  {
  margin-top: 8px;
  .nav {
    margin-bottom: 0;
    padding: 12px 30px;

    span {
      font-size: 14px;
      text-shadow: 0 0 1px #afafaf;
      display: flex;
      align-items: center;

      &:after {
        content: '';
        width: 16px;
        height: 16px;
        display: inline-block;
        background: url(./images/up.png) no-repeat;
        background-size: 100%;
        margin-left: 2px;
      }
    }
  }

  .thks {
    text-align: center;
    padding: 15px;

    a {
      color: #f7700f;
    }
  }
}

.sideNav {
  position: fixed;
  left: -70%;
  top: 0;
  bottom: 0;
  margin-left: -5px;
  width: 70%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);
  z-index: 110;
  padding: 16px 0;

  .noMore:after {
    background-color: #fff;
  }

  h2 {
    font-size: 16px;
    text-align: center;
    color: #f7700f;
  }

  h2 + p {
    margin-bottom: 20px;
    font-size: 12px;
    color: #888;
    text-align: center;
  }

  ul {
    flex: 1;
  }

  li {
    padding: 0 16px 0 21px;
    margin-bottom: 16px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
  }

  .on {
    color: #f7700f;
    border-left: 3px solid #f7700f;
  }
}

.sideSetting {
  position: fixed;
  right: -70%;
  top: 0;
  bottom: 0;
  margin-right: -5px;
  width: 70%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);
  z-index: 110;
  padding: 16px 21px 16px;

  h2 {
    font-size: 16px;
    text-align: center;
    color: #f7700f;
    margin-bottom: 5px;
  }

  h2 + p {
    margin-bottom: 20px;
    font-size: 12px;
    color: #888;
    text-align: center;
  }

  h3 {
    padding-left: 10px;
    margin-bottom: 12px;
    border-left: 3px solid #f7700f;
    line-height: 18px;
  }

  article {
    margin-bottom: 30px;
  }

  li, span {
    font-size: 14px;
  }
}

.goBackHome {
  h3 {
    border-left: none;
    background: url(./images/left2.png) no-repeat left center;
    background-size: 18px;
    padding-left: 22px;
    margin-left: -8px;

    a {
      font-size: 16px;
      color: #4e6ef2;
    }
  }
}

.setTheme {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;

  li {
    height: 30px;
    line-height: 100px;
    overflow: hidden;
    width: 28%;
    border-radius: 5px;
    position: relative;
    margin-bottom: 12px;
    border: 1px solid #ddd;
  }

  .on {
    border-color: #f7700f;

    &:after {
      content: '';
      width: 28px;
      height: 28px;
      background: url(./images/selected.png) no-repeat;
      background-size: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -14px 0 0 -14px;
    }
  }
}

.setFontSize {
  display: flex;

  li {
    line-height: 30px;
    width: 28%;
    border-radius: 5px;
    text-align: center;
    margin-right: 8%;
    background-color: #ffd5a0;
    color: #f7700f;
  }

  .disabled {
    filter: grayscale(1);
  }
}

.setReadBehavior {
  span {
    display: inline-block;
    line-height: 30px;
    width: 28%;
    border-radius: 5px;
    text-align: center;
    background-color: #ffd5a0;
    color: #f7700f;
  }

  .disabled {
    filter: grayscale(1);
  }
}

.imageWrapper {
  margin-top: 15px;
  box-shadow: 0 0 5px 1px rgb(0, 0, 0, 0.1);

  & * {
    position: static!important;
  }

  img {
    width: 100%!important;
    height: auto!important;
  }
}

@keyframes loading
{
	from {
    transform: rotate(0);
  }
	to {
    transform: rotate(360deg);
  }
}

.pagesWrapper {
  min-height: 300px;
}

.loadingOnWrapper {
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
    z-index: 1;
  }

  &:before {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
  }

  &:after {
    width: 32px;
    height: 32px;
    background: url(./images/loading.png);
    background-size: 100%;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    animation: loading 1s ease-in-out infinite;
  }
}

.loadingChunk {
  margin: 20px 0;
  text-align: center;
  font-size: 16px;

  &::before {
    content: '';
    animation: loading 1s ease-in-out infinite;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(./images/loading.png) no-repeat;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
    top: -3px;
  }
}

.noMore {
  margin: 20px;
  text-align: center;
  font-size: 16px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ddd;
  }

  &:after {
    content: '没有更多了～';
    position: relative;
    z-index: 1;
    padding: 0 20px;
    background-color: #F8F9FA;
  }
}

.pageLoading {
  .noMore {
    &:after {
      content: '最新章节还没出哦～';
    }
  }
}

.completeBook {
  .noMore {
    &:after {
      content: '全书完，感谢您对本站支持～';
    }
  }
}

.page404 {
  min-height: 300px;
  margin: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;

  &:before {
    content: '';
    width: 146px;
    height: 128px;
    margin: 80px auto 20px;
    background: url(./images/404.png) no-repeat;
    background-size: 100%;
    display: block;
  }

  a {
    color: #f7700f;
  }
}

.navTransition {
  transition: left 0.2s ease-out;
}

.settingTransition {
  transition: right 0.2s ease-out;
}

.oh {
  overflow: hidden;
}

.toolTips {
  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
  }

  &:before {
    content: '往右滑动也可以弹出章节目录～';
    min-width: 30px;
    white-space: nowrap;
    line-height: 26px;
    padding: 6px 10px;
    color: #fff;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
    background-color: rgba(0,0,0,.75);
    border-radius: 2px;
    top: 100%;
    left: -10px;
    margin-top: 6px;
  }

  &:after {
    position: absolute;
    top: 100%;
    right: 0;
    left: 4px;
    margin-top: 1px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(0,0,0,.75);
  }
}

.tipsBottomLeft {
  @extend .toolTips;
}

.tipsTopRright {
  @extend .toolTips;
  &:before, &:after {
    top: auto;
    bottom: 100%;
    margin-bottom: 6px;
  }

  &:before {
    content: '往左滑动也可以弹出设置～';
    left: auto;
    right: -10px;
  }

  &:after {
    right: 5px;
    left: auto;
    margin-bottom: -4px;
    border-bottom: 5px solid transparent;
    border-top: 5px solid rgba(0,0,0,.75);
  }
}

.noData {
  text-align: center;
  padding: 24px 0 20px;
  color: #777;
  font-size: 16px;
  background-color: #fff;
  box-sizing: content-box;

  &:before {
    content: '';
    width: 120px;
    height: 80px;
    display: block;
    background: url(./images/nodata.png) no-repeat;
    background-size: contain;
    margin: 0 auto 15px;
  }
}

.homeHistory {
  .noData {
    padding: 5px 0 0;
    background-color: transparent;

    &:before {
      display: none;
    }
  }
}

.authorChunk {
  margin-top: 8px;

  .commonHeader {
    padding: 16px 16px 0;
    background-color: #fff;

    h1 {
      margin-bottom: 0;
    }
  }

  h2 {
    font-size: 18px;
  }
}

.authorList {
  li {
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    line-height: 44px;
    font-size: 14px;
    background-color: #fff;
    margin-bottom: 1px; /*no*/
    position: relative;

    a {
      color: #4e6ef2;
      font-size: 16px;
    }

    &:last-child {
      padding-bottom: 30px;
      border-bottom: none;
    }
  }
}

// 主题颜色
//  灰色
.pageTheme1 {
  background-color: #eaeaea;

  .top, .nav, .header, .pages, footer, .bgTheme {
    background-color: #f3f3f3;
  }

  .header {
    border-bottom-color: #eaeaea;
  }

  .noMore:after{
    background-color: #eaeaea;
  }

  .sideSetting, .sideNav {
    background-color: #f3f3f3;
  }

  .pageSetting {
    a, span {
      &:after {
        border-right-color: #555;
      }
    }
  }

  .noMore:before {
    background-color: #999;
  }
}

// 黄色
.pageTheme2 {
  background-color: #fff3dc;

  .top, .nav, .header, .pages, footer, .bgTheme {
    background-color: #fbf6ec;
  }

  .header {
    border-bottom-color: #fff3dc;
  }

  .noMore:after{
    background-color: #fff3dc;
  }

  .sideSetting, .sideNav {
    background-color: #fbf6ec;
  }

  .sideNav {
    .noMore:after {
      background-color: #fbf6ec;
    }
  }

  .pageSetting {
    a, span {
      &:after {
        border-right-color: #555;
      }
    }
  }

  .noMore:before {
    background-color: #a7a7a7;
  }
}

//  黑色
.pageTheme3 {
  background-color: #232323;
  color: rgba(255,255,255,.5);

  .top, .nav, .header, .pages, footer, .bgTheme {
    background-color: #1a1a1a;
  }

  .header {
    border-bottom-color: #232323;
  }

  .noMore:after, .sideSetting, .sideNav {
    background-color: #232323;
  }

  .pageSetting {
    a, span {
      &:after {
        border-right-color: #999;
      }
    }
  }

  .noMore:before {
    background-color: #999;
  }

  .crumbs a, .pageSetting a, .pageSetting span {
    color: #f7700f;
  }

  .loadingOnWrapper:before {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .menusBtn {
    background-image: url(./images/menu1.png)!important;
  }

  .settingBtn {
    background-image: url(./images/setting1.png)!important;
  }
}

//  蓝色
.pageTheme4 {
  background-color: #b4cfea;

  .top, .nav, .header, .pages, footer, .bgTheme {
    background-color: #d0e0f3;
  }

  .header {
    border-bottom-color: #b4cfea;
  }

  .noMore:after, .sideSetting, .sideNav {
    background-color: #b4cfea;
  }

  .sideSetting, .sideNav {
    background-color: #d0e0f3;
  }

  .pageSetting {
    a, span {
      &:after {
        border-right-color: #555;
      }
    }
  }

  .noMore:before {
    background-color: #999;
  }

  .loadingOnWrapper:before {
    background-color: rgba(255, 255, 255, 0.5);
  }
}