
.typesChunk {
  margin-top: 20px;
  margin-bottom: 22px;

  .chunkTitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 16px;
  }

  h2 {
    padding-left: 10px;
    margin-bottom: 12px;
    border-left: 3px solid #f7700f;
    line-height: 18px;
  }

  .more {
    text-shadow: 0 0 1px #afafaf;
    font-size: 14px;
  }
}

.mt8 {
  margin-top: 8px;
}
