.page {
  background-color: #fff;
  padding: 16px 16px 12px;
  margin-bottom: 8px;

  :global(.commonHeader) {
    margin-bottom: 24px;
  }
}

.pageTitleHeader {
  margin: 30px 0 40px;
}

// 字号
.content {
  font-size: 18px;
  line-height: 32px;

  p {
    margin-bottom: 32px;
  }
}

.big20 {
  .content {
    font-size: 20px;
    line-height: 36px;

    p {
      margin-bottom: 36px;
    }
  }
}

.big22 {
  .content {
    font-size: 22px;
    line-height: 40px;

    p {
      margin-bottom: 36px;
    }
  }
}

.big24 {
  .content {
    font-size: 24px;
    line-height: 44px;

    p {
      margin-bottom: 36px;
    }
  }
}

.big28 {
  .content {
    font-size: 28px;
    line-height: 50px;

    p {
      margin-bottom: 42px;
    }
  }
}

.small16 {
  .content {
    font-size: 16px;
    line-height: 30px;

    p {
      margin-bottom: 30px;
    }
  }
}

.small14 {
  .content {
    font-size: 14px;
    line-height: 24px;

    p {
      margin-bottom: 20px;
    }
  }
}

// 设置
.pageSetting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  a {
    color: #1ca9bb;
    &:link {
      color: #4e6ef2;
    }
  }

  a, span {
    padding: 0 10px;
    position: relative;
    font-size: 14px;
  }

  .borderRight {
    &:after {
      content: '';
      position: absolute;
      left: 100%;
      top: 50%;
      margin-top: -6px;
      height: 12px;
      border-right: 1px solid #dadada;
    }
  }
}

.pageChange {
  display: flex;
  align-items: center;
  color: #4e6ef2;

  :global(.menusHidePrevent) {
    width: 18px;
    height: 18px;
    background: url(./images/menu.png) no-repeat;
    background-size: 100%;
    padding: 0;
    top: -1px;
    line-height: 100px;
  }

  a:last-child {
    padding-right: 0;
  }

  .disabled {
    filter: grayscale(1);
  }
}

.setting {
  display: flex;
  align-items: center;
  color: #4e6ef2;

  .settingBtn {
    width: 22px;
    height: 22px;
    background: url(./images/setting.png) no-repeat;
    background-size: 100%;
    padding: 0;
    top: -1px;
    line-height: 100px;
  }

  span:first-child {
    padding-left: 0;
  }

  span:nth-child(2) {
    padding-right: 0;
    margin-right: 10px;
  }

  .disabled {
    filter: grayscale(1);
  }
}

.functionPop {
  display: none;

  & > div {
    position: fixed;
    top: 0;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 110;
  }

  .fpBottom {
    bottom: 0;
    top: auto;
  }

  span {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    background-color: #faa90e;
    border-radius: 0.08rem;
    color: #fff;
    font-size: 16px;
  }

  span:nth-child(2) {
    margin-left: 30px;
    background-color: #4e6ef2;
  }

}

.functionPopShow {
  display: block;
}